<% if notice %>
    <p class="flex bg-yellow-100 rounded-lg p-4 mb-4 text-sm text-yellow-700"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="flex bg-yellow-100 rounded-lg p-4 mb-4 text-sm text-yellow-700"><%= alert %></p>
<% end %>