<h1>Your Services</h1>
  
  <% @services.each do |service| %>
    <br>
    <%= link_to service.title, provider_service_path(service) %>
    <br>
    <%= button_to "Delete", provider_service_path(service), method: :delete %>
    <br>
    <%= service.status %>
  <% end %>
