<h1>List your service</h1>

<%= render 'form' %>

<form action="/provider/services" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div data-controller="address" data-action="map-loaded@window->address#initGoogle">
        <label for="address">Address</label>
        <input type="text" id="addresses" data-address-target="input" autocomplete="off">

        <input type="hidden" name="listing[address_line1]" data-address-target="line1">
        <input type="hidden" name="listing[address_line2]" data-address-target="line2">
        <input type="hidden" name="listing[city]" data-address-target="city">
        <input type="hidden" name="listing[state]" data-address-target="state">
        <input type="hidden" name="listing[postal_code]" data-address-target="postal_code">
        <input type="hidden" name="listing[country]" data-address-target="country">
        <%# <input type="hidden" name="listing[lat]" data-address-target="lat">
        <input type="hidden" name="listing[long]" data-address-target="long"> %>
        </div>

    <input type="submit" value="Create listing">
</form>