<h1 class="text-3xl">Create a new profile</h1>

<form data-turbo="false" action="/profile" accept-charset="UTF-8" method="post" class="space-y-8 divide-y divide-gray-200">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" autocomplete="off">

    <div class="sm:col-span-6">
        <label for="profile_first_name" class="block m-1 text-sm font-medium text-gray-700">First Name</label>
        <input type="text" name="profile[first_name]" id="profile_first_name" value="<%= @profile.first_name %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
    </div>
    <input type="submit" value="Create profile" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
</form>